<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS Controllers</h1>
    <p>AngularJS applications are controlled by controllers.</p>
    <p>The ng-controller directive defines the application controller.
    A controller is a JavaScript Object, created by a standard JavaScript object constructor.</p>

    <div ng-app="myApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
        
    </div>
        
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });
    </script>

<h3> Controller Methods </h3>

<div ng-app="myApp" ng-controller="personCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{fullName()}}
    
</div>
    
<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
    $scope.fullName = function() {
        return $scope.firstName + " " + $scope.lastName;
    };
});
</script>

    <h3> Controllers In External Files </h3>

    <div ng-app="myApp" ng-controller="personCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{fullName()}}
        
    </div>
        
    <script src="personController.js"></script>

    <h1> AngularJS Scope </h1>
    <p>The scope is the binding part between the HTML (view) and the JavaScript (controller).The scope is an object with the available properties and methods.The scope is available for both the view and the controller.</p>
    
    <div ng-app="myApp" ng-controller="myCtrl">

    <h1>{{carname}}</h1>
        
    </div>
        
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.carname = "Volvo";
    });
    </script>
        
    <p>The property "carname" was made in the controller, and can be referred to in the view by using the {{ }} brackets.</p>

    <!-- changes in input will affect on h1 element-->

        <div ng-app="myApp" ng-controller="myCtrl">

        <input ng-model="name">
    
        <h1>My name is {{name}}</h1>
    
        </div>
    
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.name = "ilia Doe";
        });
        </script>
    
        <p>When you change the name in the input field, the changes will affect the model, and it will also affect the name property in the controller.</p>
    
    

</body>
</html>